@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-prismarine {
    background-color: #127475;
  }
  .bg-stormygreen {
    background-color: #0e9594;
  }
  .bg-gingeralefizz {
    background-color: #f5dfbb;
  }
  .bg-benihired {
    background-color: #f2542d;
  }
  .bg-bratwurst {
    background-color: #562c2c;
  }
  .bg-white {
    background-color: #ffffff;
  }
  .text-black {
    color: #000000;
  }
  .text-white {
    color: #ffffff;
  }
}

/*BRAND COLOURS */
:root {
  --prismarine: #127475;
  --stormygreen: #0e9594;
  --gingeralefizz: #f5dfbb;
  --benihired: #f2542d;
  --bratwurst: #562c2c;
  --white: #ffffff;
}

body {
  background: var(--stormygreen);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* PAGE PLACEMENT */
.page-placement-style {
  @apply bg-prismarine flex items-center justify-center h-screen;
}
/* FORM STYLE */
.form-border-style {
  @apply flex flex-col items-center space-y-2 bg-gingeralefizz p-8 max-w-2xl rounded-md shadow-lg;
}
.input-style {
  @apply text-black px-3 py-2  border rounded-lg focus:outline-none focus:ring-2;
}

.cart-button {
  border-radius: 1rem;
  border: 2px solid var(--bratwurst);
  color: var(--bratwurst);
  width: max-content;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  transition: background-color 0.3s, color 0.3s;
}
.cart-button:hover {
  background-color: var(--bratwurst);
  color: #ffffff;
}

.submit-style {
  @apply w-[200px] px-3 py-1 m-2 bg-gingeralefizz text-white font-medium rounded-lg hover:bg-bratwurst hover:scale-105 transition;
}

.button-style {
  @apply w-[200px] px-3 py-1 m-2 bg-benihired text-white font-medium rounded-lg hover:bg-bratwurst hover:scale-105 transition;
}

/* HEADER AND FOOTER STYLE */
.header {
  @apply bg-bratwurst text-white h-20 px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-64 relative;
}
.footer {

  @apply py-24 px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-64 text-sm bg-bratwurst text-white;

}
