@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --dominant-color: #00928f; /* teal */
  --accent-color: #ebb759; /* sunshine */
  --darker-color: #092f3d; /* navy */
  --neutral-color: #6f086c; /* pale blue */
  --complimentary-color: #a3d5c5; /* pale teal */
  --container-color: #acbbc1; /* light grey-blue */
  --test-color: #ce14bf; /* light grey-blue */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.submit-style {
  @apply w-[200px] px-3 py-1 m-2 bg-gray-600 text-white font-medium rounded-lg hover:bg-pink-600 hover:scale-105 transition;
}

.button-style {
  @apply w-[200px] px-3 py-1 m-2 bg-orange-400 text-white font-medium rounded-lg hover:bg-pink-600 hover:scale-105 transition;
}

.input-style {
  @apply w-1/2 px-3 py-2  border rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500;
}
